* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #000;
  width: 100%;
  min-height: 100%;
}

@media only screen and (min-width: 768px) {
  html,
  body {
    font-size: 22px;
  }
}

body {
  padding: 20px;
  background-color: #4a90e2;
}

section {
  background-color: #BEF7F5;
  width: 90%;
  max-width: 700px;
  margin: auto;
  border: 1px solid #000;
  border-radius: 10px;
}

h1 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  text-align: center;
}

.enterDestinationInfo {
  top: 0;
  margin-bottom: 1rem;
  padding: 0.75rem;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form label {
  position: absolute;
  left: -100000px;
}

form input[type="text"] {
  width: 80%;
  font-size: 1.25rem;
  border: 2px solid lightgrey;
  border-radius: 10px;
  padding: 0.75rem;
  outline: none;
}

form input[type="text"]:focus,
form input[type="text"]:hover {
  -webkit-box-shadow: 4px 2px 5px #000;
          box-shadow: 4px 2px 5px #000;
}

form button {
  font-size: 1rem;
  background-color: #F9AC2F;
  padding: 0.75rem;
  -ms-flex-line-pack: right;
      align-content: right;
}

@media only screen and (min-width: 768px) {
  form button {
    font-size: 1rem;
  }
}

.currentWeatherContainer {
  text-align: center;
}

.listContainer {
  min-height: 60vh;
  padding: 0.75rem;
}

.listContainer .listTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.listContainer .listTitle button {
  font-size: 1rem;
  background-color: #9f6060;
  padding: 0 0.1rem;
  margin-bottom: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .listContainer .listTitle button {
    padding: 0 0.5rem;
  }
}

.listContainer .listTitle hr {
  width: 100%;
}

.listContainer .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1rem;
}

.listContainer .item input[type="checkbox"] {
  text-align: center;
  width: 2.5rem;
  min-width: 48px;
  height: 2.5rem;
  min-height: 48px;
  cursor: pointer;
  margin-right: 1.5rem;
}

.listContainer .item input[type="checkbox"]:focus + label {
  text-decoration: underline;
}

.listContainer .item label {
  font-size: 1.1rem;
}

.listContainer .confirmation {
  position: absolute;
  left: -10000px;
}

/* p {
    color: black;
    font-size: 100px;
} */
/*# sourceMappingURL=style.css.map */